* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v81_472 {
  width: 390px;
  height: 844px;
  background: url("../images/v81_472.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v86_667 {
  width: 390px;
  height: 848px;
  background: url("../images/v86_667.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v86_668 {
  width: 390px;
  height: 848px;
  background: url("../images/v86_668.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0.9422222375869751px solid rgba(0,0,0,1);
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
  border-bottom-left-radius: 64px;
  border-bottom-right-radius: 64px;
  overflow: hidden;
}
.v86_669 {
  width: 668px;
  height: 848px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 113px;
  overflow: hidden;
}
.v81_482 {
  width: 228px;
  color: rgba(245,119,58,1);
  position: absolute;
  top: 100px;
  left: 80px;
  font-family: Akaya Kanadaka;
  font-weight: Regular;
  font-size: 84px;
  opacity: 1;
  text-align: center;
}
.v81_483 {
  width: 342px;
  height: 165px;
  background: url("../images/v81_483.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 24px;
  overflow: hidden;
}
.v81_489 {
  width: 342px;
  height: 132px;
  background: url("../images/v81_489.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
  overflow: hidden;
}
.v81_490 {
  width: 132px;
  height: 26px;
  background: url("../images/v81_490.png");
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 0px;
  border: 6.748758792877197px solid rgba(245,119,58,1);
  transform: rotate(-90deg);
}
.v81_491 {
  width: 73px;
  height: 12px;
  background: url("../images/v81_491.png");
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 37px;
  border: 6.748758792877197px solid rgba(245,119,58,1);
  transform: rotate(-90deg);
}
.v81_492 {
  width: 132px;
  height: 26px;
  background: url("../images/v81_492.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 342px;
  border: 6.748758792877197px solid rgba(245,119,58,1);
}
.v81_493 {
  width: 73px;
  height: 12px;
  background: url("../images/v81_493.png");
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 304px;
  border: 6.748758792877197px solid rgba(245,119,58,1);
}
.v81_494 {
  width: 97px;
  height: 18px;
  background: url("../images/v81_494.png");
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 18px;
  border: 6.748758792877197px solid rgba(245,119,58,1);
  transform: rotate(-90deg);
}
.v81_495 {
  width: 97px;
  height: 18px;
  background: url("../images/v81_495.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 324px;
  border: 6.748758792877197px solid rgba(245,119,58,1);
}
.v89_494 {
  width: 165px;
  height: 165px;
  background: url("../images/v89_494.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 88px;
  box-shadow: -7.6138224601745605px 7.6138224601745605px 7px rgba(0.30980393290519714, 0.30980393290519714, 0.30980393290519714, 0.3499999940395355);
  overflow: hidden;
}
.v89_495 {
  width: 165px;
  height: 165px;
  background: url("../images/v89_495.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v89_518 {
  width: 290px;
  height: 60px;
  background: url("../images/v89_518.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 694px;
  left: 50px;
  overflow: hidden;
}
.v89_510 {
  width: 77px;
  height: 60px;
  background: url("../images/v89_510.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v89_506 {
  width: 60px;
  height: 60px;
  background: rgba(226,226,226,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v89_458 {
  width: 70px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 7px;
  overflow: hidden;
}
.v89_459 {
  width: 23px;
  height: 36px;
  background: url("../images/v89_459.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 1px;
  overflow: hidden;
}
.v89_460 {
  width: 23px;
  height: 36px;
  background: rgba(245,119,58,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v89_511 {
  width: 44px;
  height: 38px;
  background: url("../images/v89_511.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 120px;
  overflow: hidden;
}
.v89_514 {
  width: 38px;
  height: 38px;
  background: rgba(226,226,226,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  border-radius: 50%;
}
.v89_507 {
  width: 44px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v89_512 {
  width: 44px;
  height: 37px;
  background: url("../images/v89_512.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 246px;
  overflow: hidden;
}
.v89_515 {
  width: 37px;
  height: 37px;
  background: rgba(226,226,226,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v89_476 {
  width: 44px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v89_479 {
  width: 21px;
  background: url("../images/v89_479.png");
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 19px;
  border: 2.5142858028411865px solid rgba(245,119,58,1);
  transform: rotate(-90deg);
}
.name {
  color: #fff;
}
.v89_513 {
  width: 77px;
  height: 60px;
  background: url("../images/v89_513.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 173px;
  overflow: hidden;
}
.v89_516 {
  width: 60px;
  height: 60px;
  background: rgba(226,226,226,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v89_482 {
  width: 70px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 7px;
  overflow: hidden;
}
.v89_483 {
  width: 23px;
  height: 36px;
  background: url("../images/v89_483.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 1px;
  overflow: hidden;
}
.v89_484 {
  width: 23px;
  height: 36px;
  background: rgba(245,119,58,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v89_485 {
  width: 22px;
  background: url("../images/v89_485.png");
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 35px;
  border: 1.9579551219940186px solid rgba(245,119,58,1);
  transform: rotate(-90deg);
}
.name {
  color: #fff;
}
.v89_487 {
  width: 27px;
  background: url("../images/v89_487.png");
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 39px;
  border: 1.9579551219940186px solid rgba(245,119,58,1);
  transform: rotate(-90deg);
}
.v92_567 {
  width: 176px;
  height: 47px;
  background: url("../images/v92_567.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 527px;
  left: 112px;
  overflow: hidden;
}
.v92_569 {
  width: 176px;
  height: 47px;
  background: rgba(245,119,58,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
}
.v92_570 {
  width: 88px;
  height: 47px;
  background: rgba(226,226,226,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
}
.v122_811 {
  width: 384px;
  height: 42px;
  background: url("../images/v122_811.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  overflow: hidden;
}
.v122_812 {
  width: 384px;
  height: 42px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v122_813 {
  width: 312px;
  height: 17px;
  background: url("../images/v122_813.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 36px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v122_817 {
  width: 37px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v122_818 {
  width: 16px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 49px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
