* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v102_659 {
  width: 390px;
  height: 844px;
  background: url("../images/v102_659.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v102_660 {
  width: 390px;
  height: 848px;
  background: url("../images/v102_660.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v102_661 {
  width: 390px;
  height: 848px;
  background: url("../images/v102_661.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 0.9422222375869751px solid rgba(0,0,0,1);
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
  border-bottom-left-radius: 64px;
  border-bottom-right-radius: 64px;
  overflow: hidden;
}
.v102_662 {
  width: 668px;
  height: 848px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 113px;
  overflow: hidden;
}
.v102_671 {
  width: 390px;
  height: 121px;
  background: url("../images/v102_671.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 731px;
  left: 0px;
  overflow: hidden;
}
.v102_672 {
  width: 390px;
  height: 113px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(214,214,214,1);
  overflow: hidden;
}
.v102_673 {
  width: 60px;
  height: 84px;
  background: url("../images/v102_673.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 297px;
  overflow: hidden;
}
.v102_675 {
  width: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 52px;
  left: 0px;
  font-family: Akaya Kanadaka;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: right;
}
.v102_676 {
  width: 52px;
  height: 52px;
  background: url("../images/v102_676.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  overflow: hidden;
}
.v102_677 {
  width: 80px;
  height: 111px;
  background: url("../images/v102_677.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 111px;
  overflow: hidden;
}
.v102_678 {
  width: 80px;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 0px;
}
.v102_679 {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 2px;
  font-family: Akaya Kanadaka;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v102_680 {
  width: 62px;
  height: 62px;
  background: url("../images/v102_680.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
  overflow: hidden;
}
.v102_681 {
  width: 81px;
  height: 109px;
  background: url("../images/v102_681.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 21px;
  overflow: hidden;
}
.v102_682 {
  width: 80px;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 0px;
}
.v102_683 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 0px;
  font-family: Akaya Kanadaka;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: right;
}
.v102_684 {
  width: 61px;
  height: 61px;
  background: url("../images/v102_684.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 10px;
  overflow: hidden;
}
.v102_685 {
  width: 80px;
  height: 109px;
  background: url("../images/v102_685.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 199px;
  overflow: hidden;
}
.v102_686 {
  width: 80px;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 0px;
  border-radius: 50%;
}
.v102_687 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 54px;
  left: 8px;
  font-family: Akaya Kanadaka;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: right;
}
.v102_688 {
  width: 57px;
  height: 57px;
  background: url("../images/v102_688.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 11px;
  overflow: hidden;
}
.v102_696 {
  width: 171px;
  height: 171px;
  background: rgba(245,119,58,1);
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 104px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.name {
  color: #fff;
}
.v102_701 {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 64px;
  left: 99px;
  font-family: Akaya Kanadaka;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v122_643 {
  width: 384px;
  height: 42px;
  background: url("../images/v122_643.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  overflow: hidden;
}
.v122_644 {
  width: 384px;
  height: 42px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v122_645 {
  width: 312px;
  height: 17px;
  background: url("../images/v122_645.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 36px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v122_649 {
  width: 37px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v122_650 {
  width: 16px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 49px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v152_540 {
  width: 425px;
  height: 69px;
  background: url("../images/v152_540.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 331px;
  left: 25px;
  overflow: hidden;
}
.v152_539 {
  width: 425px;
  height: 69px;
  background: url("../images/v152_539.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v152_542 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 51px;
  font-family: Akaya Kanadaka;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v156_553 {
  width: 425px;
  height: 69px;
  background: url("../images/v156_553.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 487px;
  left: 25px;
  overflow: hidden;
}
.v156_554 {
  width: 425px;
  height: 69px;
  background: url("../images/v156_554.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v156_556 {
  width: 115px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 51px;
  font-family: Akaya Kanadaka;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v156_562 {
  width: 88px;
  height: 31px;
  background: url("../images/v156_562.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 175px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v156_563 {
  width: 88px;
  height: 31px;
  background: rgba(226,226,226,0.5);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v156_564 {
  width: 88px;
  color: rgba(245,119,58,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Akaya Kanadaka;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v156_565 {
  width: 99px;
  height: 31px;
  background: url("../images/v156_565.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 279px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v156_566 {
  width: 99px;
  height: 31px;
  background: rgba(226,226,226,0.5);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v156_567 {
  width: 99px;
  color: rgba(245,119,58,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Akaya Kanadaka;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v156_558 {
  width: 425px;
  height: 69px;
  background: url("../images/v156_558.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 568px;
  left: 25px;
  overflow: hidden;
}
.v156_559 {
  width: 425px;
  height: 69px;
  background: url("../images/v156_559.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v156_561 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 51px;
  font-family: Akaya Kanadaka;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v156_568 {
  width: 212px;
  height: 31px;
  background: url("../images/v156_568.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 166px;
  overflow: hidden;
}
.v156_569 {
  width: 212px;
  height: 31px;
  background: rgba(226,226,226,0.1899999976158142);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v156_505 {
  width: 425px;
  height: 69px;
  background: url("../images/v156_505.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 412px;
  left: 17px;
  overflow: hidden;
}
.v156_506 {
  width: 425px;
  height: 69px;
  background: url("../images/v156_506.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v156_509 {
  width: 33px;
  height: 33px;
  background: url("../images/v156_509.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 43px;
  overflow: hidden;
}
.v156_531 {
  width: 48px;
  height: 33px;
  background: url("../images/v156_531.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 76px;
  overflow: hidden;
}
.v156_532 {
  width: 48px;
  height: 33px;
  background: url("../images/v156_532.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(214,214,214,1);
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v156_520 {
  width: 48px;
  height: 33px;
  background: url("../images/v156_520.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 174px;
  overflow: hidden;
}
.v156_521 {
  width: 48px;
  height: 33px;
  background: url("../images/v156_521.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(214,214,214,1);
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v156_552 {
  width: 84px;
  color: rgba(182,182,182,1);
  position: absolute;
  top: 18px;
  left: 285px;
  font-family: Akaya Kanadaka;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v156_541 {
  width: 32px;
  height: 32px;
  background: url("../images/v156_541.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 248px;
  overflow: hidden;
}
.v156_542 {
  width: 88px;
  height: 33px;
  background: url("../images/v156_542.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 282px;
  overflow: hidden;
}
.v156_543 {
  width: 88px;
  height: 33px;
  background: url("../images/v156_543.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(214,214,214,1);
  overflow: hidden;
}
.v156_530 {
  width: 31px;
  height: 31px;
  background: url("../images/v156_530.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 143px;
  overflow: hidden;
}
.v156_576 {
  width: 270px;
  height: 42px;
  background: url("../images/v156_576.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 669px;
  left: 54px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v156_577 {
  width: 270px;
  height: 42px;
  background: rgba(245,119,58,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v156_578 {
  width: 236px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 18px;
  font-family: Akaya Kanadaka;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
